name: CI

on:
  push:
    paths-ignore:
      - 'CHANGELOG.md'
      - 'README.md'
      - '.github/**.md'
      - '.github/img/**'
  pull_request:
    paths-ignore:
      - 'CHANGELOG.md'
      - 'README.md'
      - '.github/**.md'
      - '.github/img/**'

jobs:
  pre-flight-checks:
    runs-on: ubuntu-latest
    outputs:
      MY_JAVA_VERSION: ${{ steps.my_java_version.outputs.MY_JAVA_VERSION }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Extract target Java version
        id: my_java_version
        run: |
          MY_JAVA_VERSION="$(cat gradle/libs.versions.toml | grep -oP '(?<=^java = ")\d+(?="$)' | head -n1)"
          test -n "$MY_JAVA_VERSION"

          printf "Found version '%s'.\n" "$MY_JAVA_VERSION"
          printf "MY_JAVA_VERSION=%s\n" "$MY_JAVA_VERSION" >> "$GITHUB_OUTPUT"

  test-linux:
    needs: [ pre-flight-checks ]
    runs-on: ubuntu-latest
    env:
      MY_JAVA_VERSION: ${{ needs.pre-flight-checks.outputs.MY_JAVA_VERSION }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.MY_JAVA_VERSION }}
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          add-job-summary: on-failure
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: Run tests
        run: xvfb-run --auto-servernum ./gradlew check
      - name: Store coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: build/reports/kover/report.xml

  test-macos:
    needs: [ pre-flight-checks ]
    runs-on: macos-latest
    env:
      MY_JAVA_VERSION: ${{ needs.pre-flight-checks.outputs.MY_JAVA_VERSION }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.MY_JAVA_VERSION }}
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          add-job-summary: on-failure
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: Run tests
        run: ./gradlew check

  test-windows:
    needs: [ pre-flight-checks ]
    runs-on: windows-latest
    env:
      MY_JAVA_VERSION: ${{ needs.pre-flight-checks.outputs.MY_JAVA_VERSION }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.MY_JAVA_VERSION }}
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          add-job-summary: on-failure
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: Run tests
        run: ./gradlew check

  upload-coverage:
    needs: [ test-linux, test-macos, test-windows ]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Load coverage report
        uses: actions/download-artifact@v4
        with:
          name: coverage
      - name: Upload coverage report
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: report.xml
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
